<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head'); %>
</head>

<body>
  <%- include('../components/header'); %>

  <main class="container">
    <h1>About Page</h1>

    <span>The site is being served with Express and utilizing Node.js.</span>
  </main>

  <%- include('../components/footer'); %>
</body>

</html>