<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head'); %>
  <script type="module" src="../main.js"></script>
</head>

<body>
  <%- include('../components/header'); %>

  <main class="container">
    <h1><%= siteName %></h1>

    <span>Let's get that weather...</span>
  </main>

  <%- include('../components/footer'); %>
</body>

</html>