<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head'); %>
</head>

<body>
  <%- include('../components/header'); %>

    <main class="container">
      <h1>
        <%= siteName %>
      </h1>

      <form id="search-form">
        <div>Enter your destination below!</div>
        <input id="search-field" placeholder="Location" >
        <button id="search-button" type="submit">Search</button>
      </form>
    </main>

    <%- include('../components/footer'); %>

    <script type="module" src="../main.js"></script>
</body>

</html>